In [1]:
import pandas as pd

import the pandas libraries and name it as pd. i can refer to the library now as pd instead of writing pandas

In [2]:
df = pd.read_csv('results.csv')

import the csv data named results.csv and name it df. pd means the panda library and df its the name of the dataframe i'll be using. if the csv use something different from commas (,), use the command delimiter df = pd.read_csv('results.csv, delimiter = ";"'). it it use semicollons (;) or something else

In [3]:
df.head(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,"£20,000.00",19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,...,NaN,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False
1,C0364233,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,...,NaN,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False
2,C0364187,Liberal Democrats,Political Party,"£3,000.00",31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,...,NaN,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False
3,C0364207,Liberal Democrats,Political Party,"£1,560.00",31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,...,NaN,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False
4,C0364113,Liberal Democrats,Political Party,"£7,750.00",31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,...,NaN,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False
5,C0364156,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Hazel Grove,Mr Michael Lees,False,False,Individual,...,NaN,Q4 2017,False,True,90,2022.0,76645,NaN,Great Britain,False
6,C0364219,Liberal Democrats,Political Party,"£1,838.00",31/12/2017,Cheltenham,Ms Jane Mactaggart,False,False,Individual,...,NaN,Q4 2017,False,True,90,1873.0,47793,NaN,Great Britain,False
7,C0364238,Liberal Democrats,Political Party,"£1,779.00",31/12/2017,Gloucester,Mr Jeremy Hilton,False,False,Individual,...,NaN,Q4 2017,False,True,90,1991.0,83347,NaN,Great Britain,False
8,C0364264,Liberal Democrats,Political Party,"£2,400.00",31/12/2017,Parliamentary Party In The Lords,Baroness Kathryn Parminter,False,False,Individual,...,NaN,Q4 2017,False,True,90,4578.0,37433,NaN,Great Britain,False
9,C0364101,Liberal Democrats,Political Party,"£1,560.00",31/12/2017,Yeovil,Lady Catherine Bakewell,False,False,Individual,...,NaN,Q4 2017,False,True,90,2414.0,50620,NaN,Great Britain,False

df is the name of the data frame head(10) is to show the first 10 rows of my results.csv file

In [4]:
df.tail(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
290,NC0364001,UK Independence Party (UKIP),Political Party,£650.00,31/03/2017,Harwich and North Essex,Mr Duncan Greenland,False,False,Individual,...,NaN,Q4 2017,False,True,85,4914.0,83324,NaN,Great Britain,False
291,C0376428,Conservative and Unionist Party,Political Party,"£2,500.00",27/03/2017,Havant,Mr Jeremy Hand,False,False,Individual,...,NaN,Q4 2017,False,False,52,1253.0,83880,NaN,Great Britain,False
292,C0363992,UK Independence Party (UKIP),Political Party,"£2,500.00",15/02/2017,Central Party,Professor Tim Congdon,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,38170,NaN,Great Britain,False
293,C0364019,UK Independence Party (UKIP),Political Party,"£1,000.00",08/02/2017,Central Party,Lord D Stevens of Ludgate,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False
294,C0363993,UK Independence Party (UKIP),Political Party,"£5,000.00",26/01/2017,Central Party,Professor Tim Congdon,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,38170,NaN,Great Britain,False
295,C0363988,UK Independence Party (UKIP),Political Party,"£1,000.00",26/01/2017,Central Party,Mr Duncan Greenland,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False
296,C0364018,UK Independence Party (UKIP),Political Party,"£5,000.00",26/01/2017,Central Party,Lord D Stevens of Ludgate,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,48879,NaN,Great Britain,False
297,C0364007,UK Independence Party (UKIP),Political Party,"£1,000.00",13/01/2017,Central Party,Mr Duncan Greenland,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,74686,NaN,Great Britain,False
298,C0363987,UK Independence Party (UKIP),Political Party,"£1,000.00",12/01/2017,Central Party,Mr Malcolm Bluemel,False,False,Individual,...,NaN,Q4 2017,False,True,85,NaN,83323,NaN,Great Britain,False
299,C0393892,Labour Party,Political Party,"£1,000.00",10/01/2017,Folkestone and Hythe CLP,Mr Duncan Greenland,True,False,Individual,...,NaN,Q4 2017,False,True,53,295.0,83996,NaN,Great Britain,False

this command show the last 10 rows of the dataframe

In [5]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
231,NC0376442,Conservative and Unionist Party,Political Party,"£3,900.00",25/10/2017,Central Party,Mr James R Lupton,False,True,Individual,...,NaN,Q4 2017,False,True,52,NaN,34266,NaN,Great Britain,False

this command show one random row of sample

In [6]:
df.sample(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
24,C0364256,Liberal Democrats,Political Party,"£1,743.93",31/12/2017,Cardiff and the Vale,Mr Ashley Wood,False,False,Individual,...,NaN,Q4 2017,False,True,90,4646.0,83356,NaN,Great Britain,False
59,C0364248,Liberal Democrats,Political Party,"£2,001.66",31/12/2017,Winchester,Mr Dominic Hiscock,False,False,Individual,...,NaN,Q4 2017,False,True,90,2390.0,83353,NaN,Great Britain,False
61,C0364242,Liberal Democrats,Political Party,"£1,908.00",31/12/2017,Cheltenham,Ms Helen Clucas,False,False,Individual,...,NaN,Q4 2017,False,True,90,1873.0,83348,NaN,Great Britain,False
221,C0376318,Conservative and Unionist Party,Political Party,"£11,000.00",01/11/2017,Central Party,Mr Stephen L Massey,False,False,Individual,...,NaN,Q4 2017,False,False,52,NaN,36454,NaN,Great Britain,False
279,C0376410,Conservative and Unionist Party,Political Party,"£3,000.00",12/05/2017,Sutton & Cheam,Mr Neil Record,False,False,Individual,...,NaN,Q4 2017,False,False,52,1635.0,36402,NaN,Great Britain,False
183,C0364320,British National Party,Political Party,"£10,000.00",27/11/2017,Central Party,Ms Marina Smethhurst,False,False,Individual,...,NaN,Q4 2017,True,False,3960,NaN,83362,NaN,Great Britain,False
92,C0364246,Liberal Democrats,Political Party,"£1,980.00",31/12/2017,Sutton,Mr Edward Joyce,False,False,Individual,...,NaN,Q4 2017,False,True,90,2318.0,83351,NaN,Great Britain,False
184,C0393885,Labour Party,Political Party,"£20,000.00",27/11/2017,Central Party,Clive Hollick,False,False,Individual,...,NaN,Q4 2017,False,False,53,NaN,83994,NaN,Great Britain,False
124,C0376332,Conservative and Unionist Party,Political Party,"£50,000.00",15/12/2017,Central Party,Mr Edmund G Truell,False,False,Individual,...,NaN,Q4 2017,False,False,52,NaN,34290,NaN,Great Britain,False
89,C0364241,Liberal Democrats,Political Party,"£1,521.72",31/12/2017,York,Mr Ian Cuthbertson,False,False,Individual,...,NaN,Q4 2017,False,True,90,5004.0,76629,NaN,Great Britain,False

this command shows me 10 random rows

In [8]:
df.dtypes

ECRef                             object
RegulatedEntityName               object
RegulatedEntityType               object
Value                             object
AcceptedDate                      object
AccountingUnitName                object
DonorName                         object
AccountingUnitsAsCentralParty       bool
IsSponsorship                       bool
DonorStatus                       object
RegulatedDoneeType               float64
CompanyRegistrationNumber        float64
Postcode                         float64
DonationType                      object
NatureOfDonation                  object
PurposeOfVisit                   float64
DonationAction                   float64
ReceivedDate                      object
ReportedDate                      object
IsReportedPrePoll                float64
ReportingPeriodName               object
IsBequest                           bool
IsAggregation                       bool
RegulatedEntityId                  int64
AccountingUnitId                 float64
DonorId                            int64
CampaigningName                  float64
RegisterName                      object
IsIrishSource                       bool
dtype: object

this command shows the data type in every collom. object or string is a text, float is a decimal number, integer is a number with no comma, bool is a boolean, yes or no, true or false

In [9]:
df.shape

(300, 29)

this command shows whats in the cvs. its have 300 rolls and 29 collums

In [10]:
df.describe()

,RegulatedDoneeType,CompanyRegistrationNumber,Postcode,PurposeOfVisit,DonationAction,IsReportedPrePoll,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName
count,0.0,0.0,0.0,0.0,0.0,0.0,300.000000,171.000000,300.000000,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,138.116667,2315.818713,65556.336667,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,596.037318,1281.242130,19466.692599,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,52.000000,38.000000,19152.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,52.000000,1512.000000,47058.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,85.000000,2013.000000,76334.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,2386.000000,83335.500000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,6595.000000,5278.000000,84031.000000,NaN

this command shows a statical summary of the data. NaN mean Not a Number.

In [13]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
78,C0364108,Liberal Democrats,Political Party,"£1,676.78",31/12/2017,Mid Dorset and North Poole,Mr David Brown,False,False,Individual,...,NaN,Q4 2017,False,True,90,2116.0,83330,NaN,Great Britain,False

In [14]:
df['ValueClean'] = df['Value'].str.replace('£',"")

i created a new collum in my df dataframe namae ValueClean, based in the old collum Value, and replaced the £ in every row for nothing

In [15]:
df.head()

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,ValueClean
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,"£20,000.00",19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,...,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False,"20,000.00"
1,C0364233,Liberal Democrats,Political Party,"£1,800.00",31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,...,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False,"1,800.00"
2,C0364187,Liberal Democrats,Political Party,"£3,000.00",31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,...,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False,"3,000.00"
3,C0364207,Liberal Democrats,Political Party,"£1,560.00",31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,...,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False,"1,560.00"
4,C0364113,Liberal Democrats,Political Party,"£7,750.00",31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,...,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False,"7,750.00"

In [16]:
df['ValueClean'] = df['ValueClean'].str.replace(',',"")

i created a new collum in my df dataframe named ValueClean, based in the old collum ValueClean, and replaced the , in every row for nothing and the code overwrited the ValueClean

In [17]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,ValueClean
44,C0364236,Liberal Democrats,Political Party,"£1,557.25",31/12/2017,The Cotswolds,Cllr Joe Harris,False,False,Individual,...,Q4 2017,False,True,90,1900.0,75240,NaN,Great Britain,False,1557.25

In [19]:
df.dtypes

ECRef                             object
RegulatedEntityName               object
RegulatedEntityType               object
Value                             object
AcceptedDate                      object
AccountingUnitName                object
DonorName                         object
AccountingUnitsAsCentralParty       bool
IsSponsorship                       bool
DonorStatus                       object
RegulatedDoneeType               float64
CompanyRegistrationNumber        float64
Postcode                         float64
DonationType                      object
NatureOfDonation                  object
PurposeOfVisit                   float64
DonationAction                   float64
ReceivedDate                      object
ReportedDate                      object
IsReportedPrePoll                float64
ReportingPeriodName               object
IsBequest                           bool
IsAggregation                       bool
RegulatedEntityId                  int64
AccountingUnitId                 float64
DonorId                            int64
CampaigningName                  float64
RegisterName                      object
IsIrishSource                       bool
ValueClean                        object
dtype: object

In [20]:
df['ValueClean'] = pd.to_numeric(df['ValueClean'])

this command created a new collum called ValueClean and setted the collum to numeric type based on the old ValueClean and overwrited it

In [21]:
df.dtypes

ECRef                             object
RegulatedEntityName               object
RegulatedEntityType               object
Value                             object
AcceptedDate                      object
AccountingUnitName                object
DonorName                         object
AccountingUnitsAsCentralParty       bool
IsSponsorship                       bool
DonorStatus                       object
RegulatedDoneeType               float64
CompanyRegistrationNumber        float64
Postcode                         float64
DonationType                      object
NatureOfDonation                  object
PurposeOfVisit                   float64
DonationAction                   float64
ReceivedDate                      object
ReportedDate                      object
IsReportedPrePoll                float64
ReportingPeriodName               object
IsBequest                           bool
IsAggregation                       bool
RegulatedEntityId                  int64
AccountingUnitId                 float64
DonorId                            int64
CampaigningName                  float64
RegisterName                      object
IsIrishSource                       bool
ValueClean                       float64
dtype: object

In [25]:
df = df.drop('Value', 1)

i created a new dataframe called df based ond the old df, but (dropped) the collum Value. i said to python the its a collum by writing 1, if it was a row, i should have used 0

In [26]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,ValueClean
7,C0364238,Liberal Democrats,Political Party,31/12/2017,Gloucester,Mr Jeremy Hilton,False,False,Individual,NaN,...,Q4 2017,False,True,90,1991.0,83347,NaN,Great Britain,False,1779.0

In [29]:
df = df.rename(columns={'ValueClean':'Value'})
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
163,C0364006,UK Independence Party (UKIP),Political Party,04/12/2017,Central Party,Mrs Catherine Pirie,False,False,Individual,NaN,...,Q4 2017,False,True,85,NaN,74685,NaN,Great Britain,False,2000.0

a created a new dataframe called df based on the old df but renamed de column ValueClean to Value and overwrited it and automatically showed a sample

In [30]:
df.columns

Index(['ECRef', 'RegulatedEntityName', 'RegulatedEntityType', 'AcceptedDate',
       'AccountingUnitName', 'DonorName', 'AccountingUnitsAsCentralParty',
       'IsSponsorship', 'DonorStatus', 'RegulatedDoneeType',
       'CompanyRegistrationNumber', 'Postcode', 'DonationType',
       'NatureOfDonation', 'PurposeOfVisit', 'DonationAction', 'ReceivedDate',
       'ReportedDate', 'IsReportedPrePoll', 'ReportingPeriodName', 'IsBequest',
       'IsAggregation', 'RegulatedEntityId', 'AccountingUnitId', 'DonorId',
       'CampaigningName', 'RegisterName', 'IsIrishSource', 'Value'],
      dtype='object')

i used this command to see if it has spaces or traillins spaces in the colunms anmes

In [31]:
df['DonorName'].unique()

array(['Mr Alun Ffred Jones  ', 'Ms Kirsten Bayes', 'Mr Steve  Webb',
       'Mr Tim Farron', 'Mr Duncan Greenland', 'Mr Michael Lees',
       'Ms Jane Mactaggart', 'Mr Jeremy Hilton',
       'Baroness Kathryn Parminter', 'Lady Catherine Bakewell',
       'Mr Martin Elengorn', 'Cllr Ian Shires', 'Ms Liz  Morris',
       'Dr Alun  Griffiths', 'Mr Dave  Hodgson', 'Mr David Goodwin',
       'Mrs Elizabeth Barraclough', 'Baroness Shirley Williams',
       'Lord Tim Clement-Jones', 'Mr Mark  Burch', 'Mr Arthur Hookway',
       'Mr Brett Hammond', 'Mr Ashley Wood', 'Mrs Rowena Hay',
       'Ms Lynne Featherstone', 'Ms Inga Lockington', 'Mr Peter Rothery',
       'Mr Richard Keatinge', 'Mr Cliff Woodcraft', 'Mr Derek Eastman',
       'Ms Gail  Engert', 'Mr Pathumal Ali', 'Mrs Klara Sudbury',
       'Mr James Macpherson', 'Mr David Tutt', 'Mr Colin  Stears',
       'Ms Mary Wane', 'Mr Alistair  Barr', 'Miss Jocelyn Clark',
       ' Roger Michael Isherwood', 'Mr David E D Brownlow',
       'Mr David E Brownlow', 'Cllr Joe Harris', 'Mr James Baker',
       'Mr Dennis Meredith', 'Ms Anne  Winstanley', 'Mr David Brown',
       'Mr Bernard Fisher', 'Mr A Serge Lourie',
       'Mr Richard Christopher Breen', 'Mr Simon Wheeler',
       'Mrs Mary-Jane Jeanes', 'Lord Richard Allan Of Hallam',
       'Dr Robert Barr', 'Mrs Marian Radford', 'Baroness Barbara Janke',
       'Mr M Joe Boyle', 'Mr Dominic Hiscock',
       'Mr Manuel Abellan-San Martin', 'Ms Helen Clucas',
       'Mr Edward Acland', 'Ms Joanna  Kenny', 'Mr Michael Carter',
       'Ms Ruth  Dombey', 'Ms Karin Snowden', 'Mrs Sunita Gordon',
       'Mr John Hale', 'Lord Paul  Strasburger', 'Mrs Carolyn Lambert',
       'Mr Mark Watkin', 'Mr Andrew  Waller', 'Mr David  Beacham',
       ' Christopher Williams', 'Mr John Mason', 'Mr Steven Lambert',
       'Mrs Isobel McCall', 'Mr Michael Headley', 'Mr Robert Wood',
       'Mr Mark  Petterson', 'Lord Nigel D Jones of Cheltenham',
       'Mr Ian Cuthbertson', 'Mrs Marlene Heron', 'Mr Owen  Temple',
       'Mr Edward Joyce', 'Mr SImon  Curtis', 'Mr Andrew Mckinlay',
       'Ms Philippa  Connor', 'Mrs Hilary Stephenson', 'Mr Chris White',
       'Mr Tom  Gosling', 'Mr Alan  Sherwell',
       'Mr Gerald  Vernon-Jackson', 'Mr Keith Crout',
       'Mr Alexey  Chudnovskiy', ' Stella Creasy', ' Mike Penning',
       'Mr Anthony H Billingham', 'Mr Peter Wilson', 'Mrs Susan  Howes',
       'Mr Greg  Dyke', 'Mr John B Rutter', 'Ms Christine E Dawood',
       'Mr Alan  T Wicnh', 'Mr Stephen Kinsella', 'Mr David W Gray',
       'Mr Robert Chicken', 'Mr Simon D Hume-Kendall',
       'Ms Jennifer  Talbot', 'Sir Michael Hintze', 'Mr Jeremy J Lefroy',
       'Mrs Gitte  Dawson', 'Mr Sam Singh', 'Mr Michael C Warshaw',
       'Mr Edmund G Truell', 'Mr Surinderpal Lit', 'Mr Stephen S Less',
       'Mr Stephen Howard', 'Lord Stanley Fink', 'Mr Dominic R Johnson',
       'Mr Daniel P Hearsum', 'Baroness Emma Nicholson',
       'Mr Nicholas Brougham', 'Dr Arujuna Sivananthan', 'Mr Mark J Page',
       'Mr Michael Davis', 'Mr Michael J Wade', 'Mr Roger Manser',
       'Mr Richard J Grimes', 'Mr Palminder Singh',
       'Lord Charles Falconer of Thoroton', 'Professor Tim Congdon',
       'Mr Arthur P Davidson', 'Mr Mohamed Mansour', 'Mr Peter Cruddas',
       'Mr Alan C Bolton', 'Mr Ian McNish', 'Ms Jean Lambert MEP',
       'Mr Ian Pirie', 'Mr Ian H Leslie-Melville', 'Mr Michael Slade',
       'Lady Sarah L Keswick', 'Mr John D Lovering', 'Mr Dinesh Dhamija',
       'Mr Andrew D Williams', 'Ms Alison Frost',
       'Mr Raymond Chamberlain', 'Ms Elizabeth Reason',
       'Mr Malcolm Bluemel', 'Mrs Catherine Pirie', 'Mr Andrew Law',
       'Ms Alison Johnstone', 'Mr Simon M Haslam', 'Mr Patrick Harvie',
       'Mr Ross John Greer', 'Lord John Crawford',
       'Mr Mark Christopher Ruskell', 'Mr Andrew Dearg Wightman',
       'Mr John Bradford Finnie', 'Mr Michael S Thronton OBE',
       'Mr Henry Keswick', 'Mrs Hazel Watson', 'Mr Gerald H Elliot',
       'Lord Paul Tyler', 'Mr Jeremy RS Hunt', 'Mr Edward  John Izzard',
       'Lord D Stevens of Ludgate', 'Mr Michael Watson',
       'Ms Marina Smethhurst', ' Clive Hollick', 'Mr Abdul-Majid Jafar',
       'Mr Andrew  Godson', 'Mr Stephen P J Matthews',
       'Mr Douglas Reynolds', 'Ms Nadezda Rodicheva', 'Ms Rania K Majeed',
       'Mr Alexander Temerko', 'Mr Howard Leigh', 'Mr Thomas E Notman',
       'Mrs Sarah J Pidgley', 'Mr Philip  L Wroughton',
       'Mr Kenneth J French', 'Mr John Noel Penstone', 'Mrs Mary Erbrich',
       'Mr Patrick D Horsfall', 'Mr Anthony  Harris',
       'Mr Zac F Goldsmith', 'Mr Stephen  Dawson', 'Mr Peter Brown',
       'Mr Tony Belton', 'Mr Jonathan Leslie Skeet', ' William  Goodhart',
       'Mr Roger J Kendrick', 'Mr William Haughey', 'Ms Dora Bertolutti',
       'Mr Neville A Baxter', 'Mr Oluwole Kolade', 'Mr Anthony Bunker',
       'Mr Stephen L Massey', 'Hon George T Farmer',
       'Mr Laurence Hollingworth', 'Ms Anna Gallop', 'Mr Vincent Cable',
       'Mr John D Booth', 'Mrs Esme Forbes', 'Mr Iain Aitken',
       'Mr Byron S Huson', 'Mr Navroz D Udwadia', 'Mr James R Lupton',
       'Mr Ravi S Kailas', 'Mr Nicholas Campsie', 'Mr Nicholas N Moore',
       'Mr William H Salomon', 'Mr Ian R Taylor', 'Lord Philip Harris',
       ' Scirard Lancelyn Green', 'Mr Amjad Bseisu', 'Mr Gary Lydiate',
       'Mr Roger G Orf', 'Ms Jane Turnell-Read', 'Ms Lesley Jackson',
       'Mr Andrew Perloff', 'Mr Donald J Lewin', 'Mr Peter Kane',
       'Mr Roger Nagioff', 'Mr Christopher M Higgins',
       'Mr Michael A Dangoor', 'Mr Robert D Calrow', 'Mr Michael Cohen',
       'Mr Arthur J Taylor', 'Mr David Charles Williams',
       'Mr Robert J Madejski', 'Mr Andrew Pinnock',
       'Lord John Lee Of Trafford', 'Ms Rachel H MacLean',
       'Mr Elizabeth A Gooch', 'Mr Albert Mcintosh',
       'Mr Jeremy J Hosking', 'Mr Neil Record', 'Mrs Menju Mehrotra',
       'Mr Ravi Mehrotra', 'Mr Peter D Landale', 'Mr Daniel D Laycock',
       'Mr Edward P Weatherall', "Mr John O'Hara",
       'Mr Terence F Parkinson', 'Lord John Alderdice', 'Mr Jeremy Hand'],
      dtype=object)

this command is to show the contents of the unique column DonorName so i can see if its have extra spaces in the names

In [33]:
df['DonorName'] = df['DonorName'].map(str.strip)

in the DonorName column i removed all the spaces before and after the names with the command .map(str.strip and overwrited it

In [34]:
df['DonorName'].unique()

array(['Mr Alun Ffred Jones', 'Ms Kirsten Bayes', 'Mr Steve  Webb',
       'Mr Tim Farron', 'Mr Duncan Greenland', 'Mr Michael Lees',
       'Ms Jane Mactaggart', 'Mr Jeremy Hilton',
       'Baroness Kathryn Parminter', 'Lady Catherine Bakewell',
       'Mr Martin Elengorn', 'Cllr Ian Shires', 'Ms Liz  Morris',
       'Dr Alun  Griffiths', 'Mr Dave  Hodgson', 'Mr David Goodwin',
       'Mrs Elizabeth Barraclough', 'Baroness Shirley Williams',
       'Lord Tim Clement-Jones', 'Mr Mark  Burch', 'Mr Arthur Hookway',
       'Mr Brett Hammond', 'Mr Ashley Wood', 'Mrs Rowena Hay',
       'Ms Lynne Featherstone', 'Ms Inga Lockington', 'Mr Peter Rothery',
       'Mr Richard Keatinge', 'Mr Cliff Woodcraft', 'Mr Derek Eastman',
       'Ms Gail  Engert', 'Mr Pathumal Ali', 'Mrs Klara Sudbury',
       'Mr James Macpherson', 'Mr David Tutt', 'Mr Colin  Stears',
       'Ms Mary Wane', 'Mr Alistair  Barr', 'Miss Jocelyn Clark',
       'Roger Michael Isherwood', 'Mr David E D Brownlow',
       'Mr David E Brownlow', 'Cllr Joe Harris', 'Mr James Baker',
       'Mr Dennis Meredith', 'Ms Anne  Winstanley', 'Mr David Brown',
       'Mr Bernard Fisher', 'Mr A Serge Lourie',
       'Mr Richard Christopher Breen', 'Mr Simon Wheeler',
       'Mrs Mary-Jane Jeanes', 'Lord Richard Allan Of Hallam',
       'Dr Robert Barr', 'Mrs Marian Radford', 'Baroness Barbara Janke',
       'Mr M Joe Boyle', 'Mr Dominic Hiscock',
       'Mr Manuel Abellan-San Martin', 'Ms Helen Clucas',
       'Mr Edward Acland', 'Ms Joanna  Kenny', 'Mr Michael Carter',
       'Ms Ruth  Dombey', 'Ms Karin Snowden', 'Mrs Sunita Gordon',
       'Mr John Hale', 'Lord Paul  Strasburger', 'Mrs Carolyn Lambert',
       'Mr Mark Watkin', 'Mr Andrew  Waller', 'Mr David  Beacham',
       'Christopher Williams', 'Mr John Mason', 'Mr Steven Lambert',
       'Mrs Isobel McCall', 'Mr Michael Headley', 'Mr Robert Wood',
       'Mr Mark  Petterson', 'Lord Nigel D Jones of Cheltenham',
       'Mr Ian Cuthbertson', 'Mrs Marlene Heron', 'Mr Owen  Temple',
       'Mr Edward Joyce', 'Mr SImon  Curtis', 'Mr Andrew Mckinlay',
       'Ms Philippa  Connor', 'Mrs Hilary Stephenson', 'Mr Chris White',
       'Mr Tom  Gosling', 'Mr Alan  Sherwell',
       'Mr Gerald  Vernon-Jackson', 'Mr Keith Crout',
       'Mr Alexey  Chudnovskiy', 'Stella Creasy', 'Mike Penning',
       'Mr Anthony H Billingham', 'Mr Peter Wilson', 'Mrs Susan  Howes',
       'Mr Greg  Dyke', 'Mr John B Rutter', 'Ms Christine E Dawood',
       'Mr Alan  T Wicnh', 'Mr Stephen Kinsella', 'Mr David W Gray',
       'Mr Robert Chicken', 'Mr Simon D Hume-Kendall',
       'Ms Jennifer  Talbot', 'Sir Michael Hintze', 'Mr Jeremy J Lefroy',
       'Mrs Gitte  Dawson', 'Mr Sam Singh', 'Mr Michael C Warshaw',
       'Mr Edmund G Truell', 'Mr Surinderpal Lit', 'Mr Stephen S Less',
       'Mr Stephen Howard', 'Lord Stanley Fink', 'Mr Dominic R Johnson',
       'Mr Daniel P Hearsum', 'Baroness Emma Nicholson',
       'Mr Nicholas Brougham', 'Dr Arujuna Sivananthan', 'Mr Mark J Page',
       'Mr Michael Davis', 'Mr Michael J Wade', 'Mr Roger Manser',
       'Mr Richard J Grimes', 'Mr Palminder Singh',
       'Lord Charles Falconer of Thoroton', 'Professor Tim Congdon',
       'Mr Arthur P Davidson', 'Mr Mohamed Mansour', 'Mr Peter Cruddas',
       'Mr Alan C Bolton', 'Mr Ian McNish', 'Ms Jean Lambert MEP',
       'Mr Ian Pirie', 'Mr Ian H Leslie-Melville', 'Mr Michael Slade',
       'Lady Sarah L Keswick', 'Mr John D Lovering', 'Mr Dinesh Dhamija',
       'Mr Andrew D Williams', 'Ms Alison Frost',
       'Mr Raymond Chamberlain', 'Ms Elizabeth Reason',
       'Mr Malcolm Bluemel', 'Mrs Catherine Pirie', 'Mr Andrew Law',
       'Ms Alison Johnstone', 'Mr Simon M Haslam', 'Mr Patrick Harvie',
       'Mr Ross John Greer', 'Lord John Crawford',
       'Mr Mark Christopher Ruskell', 'Mr Andrew Dearg Wightman',
       'Mr John Bradford Finnie', 'Mr Michael S Thronton OBE',
       'Mr Henry Keswick', 'Mrs Hazel Watson', 'Mr Gerald H Elliot',
       'Lord Paul Tyler', 'Mr Jeremy RS Hunt', 'Mr Edward  John Izzard',
       'Lord D Stevens of Ludgate', 'Mr Michael Watson',
       'Ms Marina Smethhurst', 'Clive Hollick', 'Mr Abdul-Majid Jafar',
       'Mr Andrew  Godson', 'Mr Stephen P J Matthews',
       'Mr Douglas Reynolds', 'Ms Nadezda Rodicheva', 'Ms Rania K Majeed',
       'Mr Alexander Temerko', 'Mr Howard Leigh', 'Mr Thomas E Notman',
       'Mrs Sarah J Pidgley', 'Mr Philip  L Wroughton',
       'Mr Kenneth J French', 'Mr John Noel Penstone', 'Mrs Mary Erbrich',
       'Mr Patrick D Horsfall', 'Mr Anthony  Harris',
       'Mr Zac F Goldsmith', 'Mr Stephen  Dawson', 'Mr Peter Brown',
       'Mr Tony Belton', 'Mr Jonathan Leslie Skeet', 'William  Goodhart',
       'Mr Roger J Kendrick', 'Mr William Haughey', 'Ms Dora Bertolutti',
       'Mr Neville A Baxter', 'Mr Oluwole Kolade', 'Mr Anthony Bunker',
       'Mr Stephen L Massey', 'Hon George T Farmer',
       'Mr Laurence Hollingworth', 'Ms Anna Gallop', 'Mr Vincent Cable',
       'Mr John D Booth', 'Mrs Esme Forbes', 'Mr Iain Aitken',
       'Mr Byron S Huson', 'Mr Navroz D Udwadia', 'Mr James R Lupton',
       'Mr Ravi S Kailas', 'Mr Nicholas Campsie', 'Mr Nicholas N Moore',
       'Mr William H Salomon', 'Mr Ian R Taylor', 'Lord Philip Harris',
       'Scirard Lancelyn Green', 'Mr Amjad Bseisu', 'Mr Gary Lydiate',
       'Mr Roger G Orf', 'Ms Jane Turnell-Read', 'Ms Lesley Jackson',
       'Mr Andrew Perloff', 'Mr Donald J Lewin', 'Mr Peter Kane',
       'Mr Roger Nagioff', 'Mr Christopher M Higgins',
       'Mr Michael A Dangoor', 'Mr Robert D Calrow', 'Mr Michael Cohen',
       'Mr Arthur J Taylor', 'Mr David Charles Williams',
       'Mr Robert J Madejski', 'Mr Andrew Pinnock',
       'Lord John Lee Of Trafford', 'Ms Rachel H MacLean',
       'Mr Elizabeth A Gooch', 'Mr Albert Mcintosh',
       'Mr Jeremy J Hosking', 'Mr Neil Record', 'Mrs Menju Mehrotra',
       'Mr Ravi Mehrotra', 'Mr Peter D Landale', 'Mr Daniel D Laycock',
       'Mr Edward P Weatherall', "Mr John O'Hara",
       'Mr Terence F Parkinson', 'Lord John Alderdice', 'Mr Jeremy Hand'],
      dtype=object)

In [35]:
import datetime

i imported the library datetime from python

In [36]:
df.head(5)

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
0,C0363977,Plaid Cymru - The Party of Wales,Political Party,19/12/2018,Central Party,Mr Alun Ffred Jones,False,False,Individual,NaN,...,Q4 2017,False,True,77,NaN,83318,NaN,Great Britain,False,20000.0
1,C0364233,Liberal Democrats,Political Party,31/12/2017,Greater Reading,Ms Kirsten Bayes,False,False,Individual,NaN,...,Q4 2017,False,True,90,1998.0,43033,NaN,Great Britain,False,1800.0
2,C0364187,Liberal Democrats,Political Party,31/12/2017,South Gloucestershire,Mr Steve Webb,False,False,Individual,NaN,...,Q4 2017,False,True,90,5141.0,35400,NaN,Great Britain,False,3000.0
3,C0364207,Liberal Democrats,Political Party,31/12/2017,Westmorland and Lonsdale,Mr Tim Farron,False,False,Individual,NaN,...,Q4 2017,False,True,90,2386.0,76661,NaN,Great Britain,False,1560.0
4,C0364113,Liberal Democrats,Political Party,31/12/2017,Central Party,Mr Duncan Greenland,True,False,Individual,NaN,...,Q4 2017,False,True,90,NaN,35403,NaN,Great Britain,False,7750.0

In [37]:
df.dtypes

ECRef                             object
RegulatedEntityName               object
RegulatedEntityType               object
AcceptedDate                      object
AccountingUnitName                object
DonorName                         object
AccountingUnitsAsCentralParty       bool
IsSponsorship                       bool
DonorStatus                       object
RegulatedDoneeType               float64
CompanyRegistrationNumber        float64
Postcode                         float64
DonationType                      object
NatureOfDonation                  object
PurposeOfVisit                   float64
DonationAction                   float64
ReceivedDate                      object
ReportedDate                      object
IsReportedPrePoll                float64
ReportingPeriodName               object
IsBequest                           bool
IsAggregation                       bool
RegulatedEntityId                  int64
AccountingUnitId                 float64
DonorId                            int64
CampaigningName                  float64
RegisterName                      object
IsIrishSource                       bool
Value                            float64
dtype: object

In [38]:
df['AcceptedDate'] = pd.to_datetime(df['AcceptedDate'], format="%d/%m/%Y")

take the column AcceptedDate and change it to date and time format, named it AcceptedDate and overwrited. i choose the format 10/10/1995 using % as a number 0 for day and month and Y capital to use four numbers. lower y is two numbers

In [39]:
df.dtypes

ECRef                                    object
RegulatedEntityName                      object
RegulatedEntityType                      object
AcceptedDate                     datetime64[ns]
AccountingUnitName                       object
DonorName                                object
AccountingUnitsAsCentralParty              bool
IsSponsorship                              bool
DonorStatus                              object
RegulatedDoneeType                      float64
CompanyRegistrationNumber               float64
Postcode                                float64
DonationType                             object
NatureOfDonation                         object
PurposeOfVisit                          float64
DonationAction                          float64
ReceivedDate                             object
ReportedDate                             object
IsReportedPrePoll                       float64
ReportingPeriodName                      object
IsBequest                                  bool
IsAggregation                              bool
RegulatedEntityId                         int64
AccountingUnitId                        float64
DonorId                                   int64
CampaigningName                         float64
RegisterName                             object
IsIrishSource                              bool
Value                                   float64
dtype: object

In [40]:
df['ReceivedDate'] = pd.to_datetime(df['ReceivedDate'], format="%d/%m/%Y")

In [41]:
df['ReportedDate'] = pd.to_datetime(df['ReportedDate'], format="%d/%m/%Y")

In [42]:
df.dtypes

ECRef                                    object
RegulatedEntityName                      object
RegulatedEntityType                      object
AcceptedDate                     datetime64[ns]
AccountingUnitName                       object
DonorName                                object
AccountingUnitsAsCentralParty              bool
IsSponsorship                              bool
DonorStatus                              object
RegulatedDoneeType                      float64
CompanyRegistrationNumber               float64
Postcode                                float64
DonationType                             object
NatureOfDonation                         object
PurposeOfVisit                          float64
DonationAction                          float64
ReceivedDate                     datetime64[ns]
ReportedDate                     datetime64[ns]
IsReportedPrePoll                       float64
ReportingPeriodName                      object
IsBequest                                  bool
IsAggregation                              bool
RegulatedEntityId                         int64
AccountingUnitId                        float64
DonorId                                   int64
CampaigningName                         float64
RegisterName                             object
IsIrishSource                              bool
Value                                   float64
dtype: object

In [43]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
269,C0364133,Liberal Democrats,Political Party,2017-06-30,Liberal Democrat Women,Ms Jane Mactaggart,False,False,Individual,NaN,...,Q4 2017,False,False,90,2399.0,55988,NaN,Great Britain,False,23000.0

In [44]:
df['AcceptedDate'] = pd.to_datetime(df['AcceptedDate'], format="%d-%m-%Y")

In [45]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value
291,C0376428,Conservative and Unionist Party,Political Party,2017-03-27,Havant,Mr Jeremy Hand,False,False,Individual,NaN,...,Q4 2017,False,False,52,1253.0,83880,NaN,Great Britain,False,2500.0

In [46]:
df['Year'] = pd.DatetimeIndex(df['AcceptedDate']).year

i created a new column called year based on the AcceptedDate column, but used only the year information

In [47]:
df.sample()

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value,Year
215,C0393884,Labour Party,Political Party,2017-11-06,Central Party,Mr William Haughey,False,False,Individual,NaN,...,False,False,53,NaN,37529,NaN,Great Britain,False,30000.0,2017

In [48]:
df.sample(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value,Year
11,C0364240,Liberal Democrats,Political Party,2017-12-31,Walsall,Cllr Ian Shires,False,False,Individual,NaN,...,False,True,90,2356.0,75238,NaN,Great Britain,False,1920.0,2017
217,NC0376434,Conservative and Unionist Party,Political Party,2017-11-03,Chelsea and Fulham,Ms Dora Bertolutti,False,False,Individual,NaN,...,False,False,52,1052.0,83883,NaN,Great Britain,False,2400.0,2017
112,C0376425,Conservative and Unionist Party,Political Party,2017-12-22,Worthing West,Mr Alan T Wicnh,False,False,Individual,NaN,...,True,False,52,1735.0,83878,NaN,Great Britain,False,10000.0,2017
74,C0364165,Liberal Democrats,Political Party,2017-12-31,Parliamentary Party In The Lords,Lord Paul Strasburger,False,False,Individual,NaN,...,False,True,90,4578.0,73975,NaN,Great Britain,False,1600.0,2017
194,C0376312,Conservative and Unionist Party,Political Party,2017-11-21,Central Party,Mr Howard Leigh,False,False,Individual,NaN,...,False,True,52,NaN,36384,NaN,Great Britain,False,4250.0,2017
94,C0364260,Liberal Democrats,Political Party,2017-12-31,Cheltenham,Mr Andrew Mckinlay,False,False,Individual,NaN,...,False,True,90,1873.0,48691,NaN,Great Britain,False,1846.0,2017
231,NC0376442,Conservative and Unionist Party,Political Party,2017-10-25,Central Party,Mr James R Lupton,False,True,Individual,NaN,...,False,True,52,NaN,34266,NaN,Great Britain,False,3900.0,2017
202,C0376292,Conservative and Unionist Party,Political Party,2017-11-16,Central Party,Mrs Mary Erbrich,False,False,Individual,NaN,...,True,False,52,NaN,76714,NaN,Great Britain,False,60000.0,2017
101,C0364234,Liberal Democrats,Political Party,2017-12-31,Watford,Mr Keith Crout,False,False,Individual,NaN,...,False,True,90,2364.0,76635,NaN,Great Britain,False,1512.0,2017
56,C0364229,Liberal Democrats,Political Party,2017-12-31,Sutton,Mrs Marian Radford,False,False,Individual,NaN,...,False,True,90,2318.0,72588,NaN,Great Britain,False,1896.0,2017

In [49]:
df['Month'] = pd.DatetimeIndex(df['AcceptedDate']).month
df.tail(10)

,ECRef,RegulatedEntityName,RegulatedEntityType,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,RegulatedDoneeType,...,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource,Value,Year,Month
290,NC0364001,UK Independence Party (UKIP),Political Party,2017-03-31,Harwich and North Essex,Mr Duncan Greenland,False,False,Individual,NaN,...,True,85,4914.0,83324,NaN,Great Britain,False,650.0,2017,3
291,C0376428,Conservative and Unionist Party,Political Party,2017-03-27,Havant,Mr Jeremy Hand,False,False,Individual,NaN,...,False,52,1253.0,83880,NaN,Great Britain,False,2500.0,2017,3
292,C0363992,UK Independence Party (UKIP),Political Party,2017-02-15,Central Party,Professor Tim Congdon,False,False,Individual,NaN,...,True,85,NaN,38170,NaN,Great Britain,False,2500.0,2017,2
293,C0364019,UK Independence Party (UKIP),Political Party,2017-02-08,Central Party,Lord D Stevens of Ludgate,False,False,Individual,NaN,...,True,85,NaN,48879,NaN,Great Britain,False,1000.0,2017,2
294,C0363993,UK Independence Party (UKIP),Political Party,2017-01-26,Central Party,Professor Tim Congdon,False,False,Individual,NaN,...,True,85,NaN,38170,NaN,Great Britain,False,5000.0,2017,1
295,C0363988,UK Independence Party (UKIP),Political Party,2017-01-26,Central Party,Mr Duncan Greenland,False,False,Individual,NaN,...,True,85,NaN,83323,NaN,Great Britain,False,1000.0,2017,1
296,C0364018,UK Independence Party (UKIP),Political Party,2017-01-26,Central Party,Lord D Stevens of Ludgate,False,False,Individual,NaN,...,True,85,NaN,48879,NaN,Great Britain,False,5000.0,2017,1
297,C0364007,UK Independence Party (UKIP),Political Party,2017-01-13,Central Party,Mr Duncan Greenland,False,False,Individual,NaN,...,True,85,NaN,74686,NaN,Great Britain,False,1000.0,2017,1
298,C0363987,UK Independence Party (UKIP),Political Party,2017-01-12,Central Party,Mr Malcolm Bluemel,False,False,Individual,NaN,...,True,85,NaN,83323,NaN,Great Britain,False,1000.0,2017,1
299,C0393892,Labour Party,Political Party,2017-01-10,Folkestone and Hythe CLP,Mr Duncan Greenland,True,False,Individual,NaN,...,True,53,295.0,83996,NaN,Great Britain,False,1000.0,2017,1

i created a new column called month based on the AcceptedDate column, but used only the month information

In [51]:
df.columns

Index(['ECRef', 'RegulatedEntityName', 'RegulatedEntityType', 'AcceptedDate',
       'AccountingUnitName', 'DonorName', 'AccountingUnitsAsCentralParty',
       'IsSponsorship', 'DonorStatus', 'RegulatedDoneeType',
       'CompanyRegistrationNumber', 'Postcode', 'DonationType',
       'NatureOfDonation', 'PurposeOfVisit', 'DonationAction', 'ReceivedDate',
       'ReportedDate', 'IsReportedPrePoll', 'ReportingPeriodName', 'IsBequest',
       'IsAggregation', 'RegulatedEntityId', 'AccountingUnitId', 'DonorId',
       'CampaigningName', 'RegisterName', 'IsIrishSource', 'Value', 'Year',
       'Month'],
      dtype='object')

In [52]:
df.shape

(300, 31)

In [57]:
dfMini = df[['RegulatedEntityName', 'AcceptedDate', 'DonorName', 'DonorStatus' ,'Year', 'Month', 'Value', 'RegulatedEntityType', 'DonorId','CampaigningName']]

In [58]:
dfMini.sample()

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
98,Liberal Democrats,2017-12-31,Mr Tom Gosling,Individual,2017,12,10000.0,Political Party,78783,NaN

In [60]:
dfMini.to_csv('results_clean.csv', encoding ='utf8')

i saved the dfMini to csv named results_clean.csv with the utf8 encoding format

In [62]:
ls

'2 Clean data.ipynb'              'Clean data v2.ipynb'  'teste notebook.ipynb'
'Clean data - Complete v2.ipynb'   results_clean.csv     'Test Notebook.ipynb'
 cleandata.ipynb                   results.csv