In [1]:
import pandas as pd

i import the pandas libraries and call it "pd" so i can use only pd to use the library

In [2]:
df = pd.read_csv('results_clean.csv')

i imported the document results_clean.csv using the pandas library e put it in a data frame called df

In [3]:
df.head(10)

,Unnamed: 0,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
0,0,Plaid Cymru - The Party of Wales,2018-12-19,Mr Alun Ffred Jones,Individual,2018,12,20000.0,Political Party,83318,NaN
1,1,Liberal Democrats,2017-12-31,Ms Kirsten Bayes,Individual,2017,12,1800.0,Political Party,43033,NaN
2,2,Liberal Democrats,2017-12-31,Mr Steve Webb,Individual,2017,12,3000.0,Political Party,35400,NaN
3,3,Liberal Democrats,2017-12-31,Mr Tim Farron,Individual,2017,12,1560.0,Political Party,76661,NaN
4,4,Liberal Democrats,2017-12-31,Mr Duncan Greenland,Individual,2017,12,7750.0,Political Party,35403,NaN
5,5,Liberal Democrats,2017-12-31,Mr Michael Lees,Individual,2017,12,1800.0,Political Party,76645,NaN
6,6,Liberal Democrats,2017-12-31,Ms Jane Mactaggart,Individual,2017,12,1838.0,Political Party,47793,NaN
7,7,Liberal Democrats,2017-12-31,Mr Jeremy Hilton,Individual,2017,12,1779.0,Political Party,83347,NaN
8,8,Liberal Democrats,2017-12-31,Baroness Kathryn Parminter,Individual,2017,12,2400.0,Political Party,37433,NaN
9,9,Liberal Democrats,2017-12-31,Lady Catherine Bakewell,Individual,2017,12,1560.0,Political Party,50620,NaN

this command show the first 10 rows

In [6]:
df = df.drop('Unnamed: 0', 1)

this command exclude the collum named 'unnamed: 0', the 1 means that is in the vertical axis (collum). 0 means horizontal axis (row)

In [7]:
df.sample(9)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
167,Scottish Green Party,2017-12-01,Mr Patrick Harvie,Individual,2017,12,8196.00,Political Party,38155,NaN
285,Conservative and Unionist Party,2017-04-28,Mr Edward P Weatherall,Individual,2017,4,5000.00,Political Party,83858,NaN
8,Liberal Democrats,2017-12-31,Baroness Kathryn Parminter,Individual,2017,12,2400.00,Political Party,37433,NaN
136,Conservative and Unionist Party,2017-12-14,Mr Mark J Page,Individual,2017,12,6250.00,Political Party,83844,NaN
13,Liberal Democrats,2017-12-31,Dr Alun Griffiths,Individual,2017,12,1800.00,Political Party,35415,NaN
64,Liberal Democrats,2017-12-31,Ms Jane Mactaggart,Individual,2017,12,1800.00,Political Party,37401,NaN
66,Liberal Democrats,2017-12-31,Ms Joanna Kenny,Individual,2017,12,866.25,Political Party,47811,NaN
39,Liberal Democrats,2017-12-31,Mr Alistair Barr,Individual,2017,12,5000.00,Political Party,47844,NaN
139,Labour Party,2017-12-13,Mr Stephen Kinsella,Individual,2017,12,4957.00,Political Party,37535,NaN

this command give me random sample of 9 rows

In [8]:
df.describe()

              Year       Month          Value       DonorId  CampaigningName
count   300.000000  300.000000     300.000000    300.000000              0.0
mean   2017.003333   10.623333   10488.400400  65556.336667              NaN
std       0.057735    2.544873   32153.305738  19466.692599              NaN
min    2017.000000    1.000000     600.000000  19152.000000              NaN
25%    2017.000000   10.000000    1800.000000  47058.000000              NaN
50%    2017.000000   12.000000    2500.000000  76334.000000              NaN
75%    2017.000000   12.000000    8124.000000  83335.500000              NaN
max    2018.000000   12.000000  400000.000000  84031.000000              NaN

this command give a description of my dataframe. count: number os values in that collum; unique: number of unique value in that column; top: first value in that column; freq: the mons common value's frequency; mean: average; std: standar deviation; min: minimum value, lowest value in the column; 25%: first percentile; 50%: second percetile, this is the same as the median; 75%: thirth percentile; max: maximum value, highest value in that column.

In [9]:
df.shape()

TypeError: 'tuple' object is not callable

In [10]:
df.shape

(300, 10)

this command show how many rows and columns my dataframe have

In [11]:
df.sample(1)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
111,Conservative and Unionist Party,2017-12-22,Ms Christine E Dawood,Individual,2017,12,12500.0,Political Party,83836,NaN

i want to know the name of my columns with the smple command

In [12]:
df[df['Value']>10000]

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
0,Plaid Cymru - The Party of Wales,2018-12-19,Mr Alun Ffred Jones,Individual,2018,12,20000.00,Political Party,83318,NaN
42,Conservative and Unionist Party,2017-12-31,Mr David E D Brownlow,Individual,2017,12,11273.77,Political Party,69570,NaN
43,Conservative and Unionist Party,2017-12-31,Mr David E Brownlow,Individual,2017,12,16540.00,Political Party,83077,NaN
51,Renew,2017-12-31,Mr Richard Christopher Breen,Individual,2017,12,16509.10,Political Party,83311,NaN
86,Liberal Democrats,2017-12-31,Mr Mark Petterson,Individual,2017,12,15000.00,Political Party,55995,NaN
111,Conservative and Unionist Party,2017-12-22,Ms Christine E Dawood,Individual,2017,12,12500.00,Political Party,83836,NaN
115,Liberal Democrats,2017-12-21,Mr Robert Chicken,Individual,2017,12,22466.38,Political Party,83339,NaN
117,Liberal Democrats,2017-12-20,Ms Jennifer Talbot,Individual,2017,12,15000.00,Political Party,78089,NaN
121,Liberal Democrats,2017-12-15,Mrs Gitte Dawson,Individual,2017,12,20000.00,Political Party,35363,NaN
122,Conservative and Unionist Party,2017-12-15,Mr Sam Singh,Individual,2017,12,18500.00,Political Party,83845,NaN
124,Conservative and Unionist Party,2017-12-15,Mr Edmund G Truell,Individual,2017,12,50000.00,Political Party,34290,NaN
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.00,Political Party,47072,NaN
130,Conservative and Unionist Party,2017-12-14,Mr Daniel P Hearsum,Individual,2017,12,10737.72,Political Party,76733,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.00,Political Party,34240,NaN
138,Conservative and Unionist Party,2017-12-13,Mr Michael J Wade,Individual,2017,12,25000.00,Political Party,47059,NaN
140,Liberal Democrats,2017-12-13,Mr Mark Petterson,Individual,2017,12,25000.00,Political Party,55995,NaN
147,Conservative and Unionist Party,2017-12-11,Mr Mohamed Mansour,Individual,2017,12,12500.00,Political Party,83832,NaN
148,Conservative and Unionist Party,2017-12-11,Mr Peter Cruddas,Individual,2017,12,12500.00,Political Party,67253,NaN
150,Scottish National Party (SNP),2017-12-07,Mr Ian McNish,Individual,2017,12,42732.63,Political Party,78128,NaN
155,Conservative and Unionist Party,2017-12-07,Lady Sarah L Keswick,Individual,2017,12,12500.00,Political Party,83840,NaN
162,Conservative and Unionist Party,2017-12-04,Mr Malcolm Bluemel,Individual,2017,12,50000.00,Political Party,72651,NaN
164,Conservative and Unionist Party,2017-12-04,Mr Andrew Law,Individual,2017,12,13750.00,Political Party,52218,NaN
169,Labour Party,2017-12-01,Lord John Crawford,Individual,2017,12,22000.00,Political Party,83992,NaN
176,Renew,2017-11-30,Mr Richard Christopher Breen,Individual,2017,11,12971.08,Political Party,83311,NaN
184,Labour Party,2017-11-27,Clive Hollick,Individual,2017,11,20000.00,Political Party,83994,NaN
186,Conservative and Unionist Party,2017-11-27,Mr Abdul-Majid Jafar,Individual,2017,11,12500.00,Political Party,81180,NaN
192,Conservative and Unionist Party,2017-11-21,Ms Rania K Majeed,Individual,2017,11,11750.00,Political Party,83842,NaN
200,Plaid Cymru - The Party of Wales,2017-11-17,Ms Jane Mactaggart,Individual,2017,11,61473.89,Political Party,83317,NaN
202,Conservative and Unionist Party,2017-11-16,Mrs Mary Erbrich,Individual,2017,11,60000.00,Political Party,76714,NaN
212,Liberal Democrats,2017-11-12,William Goodhart,Individual,2017,11,20000.00,Political Party,34527,NaN
215,Labour Party,2017-11-06,Mr William Haughey,Individual,2017,11,30000.00,Political Party,37529,NaN
219,Conservative and Unionist Party,2017-11-01,Mr Oluwole Kolade,Individual,2017,11,52500.00,Political Party,38762,NaN
221,Conservative and Unionist Party,2017-11-01,Mr Stephen L Massey,Individual,2017,11,11000.00,Political Party,36454,NaN
227,Conservative and Unionist Party,2017-10-30,Mrs Esme Forbes,Individual,2017,10,38295.29,Political Party,76306,NaN
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.00,Political Party,83882,NaN
232,Conservative and Unionist Party,2017-10-25,Mr James R Lupton,Individual,2017,10,50000.00,Political Party,34266,NaN
236,Conservative and Unionist Party,2017-10-23,Mr William H Salomon,Individual,2017,10,25000.00,Political Party,36405,NaN
238,Conservative and Unionist Party,2017-10-19,Mr Ian R Taylor,Individual,2017,10,100000.00,Political Party,76312,NaN
243,Conservative and Unionist Party,2017-10-16,Mr Amjad Bseisu,Individual,2017,10,12500.00,Political Party,74074,NaN
244,Conservative and Unionist Party,2017-10-16,Mr Gary Lydiate,Individual,2017,10,20000.00,Political Party,81113,NaN
248,Conservative and Unionist Party,2017-10-11,Ms Lesley Jackson,Individual,2017,10,100000.00,Political Party,38745,NaN
249,UK Independence Party (UKIP),2017-10-09,Mr Andrew Perloff,Individual,2017,10,20000.00,Political Party,46042,NaN
251,Conservative and Unionist Party,2017-10-09,Mr Peter Kane,Individual,2017,10,50000.00,Political Party,34257,NaN
252,Conservative and Unionist Party,2017-10-09,Mr Roger Nagioff,Individual,2017,10,50000.00,Political Party,36392,NaN
254,Conservative and Unionist Party,2017-10-09,Mr Michael A Dangoor,Individual,2017,10,56600.00,Political Party,83834,NaN
255,Conservative and Unionist Party,2017-10-09,Mr Robert D Calrow,Individual,2017,10,21000.00,Political Party,38757,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.00,Political Party,78128,NaN
260,Plaid Cymru - The Party of Wales,2017-10-02,Mr David Charles Williams,Individual,2017,10,40357.67,Political Party,83316,NaN
269,Liberal Democrats,2017-06-30,Ms Jane Mactaggart,Individual,2017,6,23000.00,Political Party,55988,NaN

this command filter and show me every Value in the column Value over 10000

In [15]:
df[df['Value']<601]

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
151,Green Party,2017-12-07,Ms Jean Lambert MEP,Individual,2017,12,600.0,Political Party,34382,NaN
216,Green Party,2017-11-05,Ms Jean Lambert MEP,Individual,2017,11,600.0,Political Party,34382,NaN
237,Green Party,2017-10-22,Ms Jean Lambert MEP,Individual,2017,10,600.0,Political Party,34382,NaN
241,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN
242,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN

In [16]:
df.sort_values(by='Value')

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
216,Green Party,2017-11-05,Ms Jean Lambert MEP,Individual,2017,11,600.0,Political Party,34382,NaN
151,Green Party,2017-12-07,Ms Jean Lambert MEP,Individual,2017,12,600.0,Political Party,34382,NaN
242,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN
241,Conservative and Unionist Party,2017-10-17,Scirard Lancelyn Green,Individual,2017,10,600.0,Political Party,76334,NaN
237,Green Party,2017-10-22,Ms Jean Lambert MEP,Individual,2017,10,600.0,Political Party,34382,NaN
...,...,...,...,...,...,...,...,...,...,...
238,Conservative and Unionist Party,2017-10-19,Mr Ian R Taylor,Individual,2017,10,100000.0,Political Party,76312,NaN
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.0,Political Party,47072,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.0,Political Party,78128,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.0,Political Party,34240,NaN
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.0,Political Party,83882,NaN

this command sort the dataframe by value, using the column Values, starting from the lowest to the highest

In [17]:
df.sort_values(by='Value', ascending=False).head(10)

,RegulatedEntityName,AcceptedDate,DonorName,DonorStatus,Year,Month,Value,RegulatedEntityType,DonorId,CampaigningName
229,Conservative and Unionist Party,2017-10-30,Mr Byron S Huson,Individual,2017,10,400000.00,Political Party,83882,NaN
137,Conservative and Unionist Party,2017-12-14,Mr Michael Davis,Individual,2017,12,271000.00,Political Party,34240,NaN
257,Scottish National Party (SNP),2017-10-06,Mr Ian McNish,Individual,2017,10,175000.00,Political Party,78128,NaN
128,Conservative and Unionist Party,2017-12-14,Lord Stanley Fink,Individual,2017,12,111600.00,Political Party,47072,NaN
248,Conservative and Unionist Party,2017-10-11,Ms Lesley Jackson,Individual,2017,10,100000.00,Political Party,38745,NaN
238,Conservative and Unionist Party,2017-10-19,Mr Ian R Taylor,Individual,2017,10,100000.00,Political Party,76312,NaN
200,Plaid Cymru - The Party of Wales,2017-11-17,Ms Jane Mactaggart,Individual,2017,11,61473.89,Political Party,83317,NaN
202,Conservative and Unionist Party,2017-11-16,Mrs Mary Erbrich,Individual,2017,11,60000.00,Political Party,76714,NaN
254,Conservative and Unionist Party,2017-10-09,Mr Michael A Dangoor,Individual,2017,10,56600.00,Political Party,83834,NaN
219,Conservative and Unionist Party,2017-11-01,Mr Oluwole Kolade,Individual,2017,11,52500.00,Political Party,38762,NaN

the same above, but sorting from the highest to the lowests, and showing me only the firts 10 rows

In [18]:
df['Value'].sum()

3146520.12

this command sum all the numbers on the Value column

In [19]:
df['RegulatedEntityName'].count()

300

In [20]:
df['RegulatedEntityName'].value_counts()

Liberal Democrats                   124
Conservative and Unionist Party     117
UK Independence Party (UKIP)         20
Labour Party                         18
Scottish Green Party                  6
Green Party                           5
Plaid Cymru - The Party of Wales      3
Scottish National Party (SNP)         3
Renew                                 2
Women's Equality Party                1
British National Party                1
Name: RegulatedEntityName, dtype: int64

this command show how many times the information in the Regulated Entity Name column is repetitive, in other words, how many  wich party received a donation

In [22]:
df['DonorName'].count()

300

In [24]:
df['DonorName'].value_counts()

Ms Jane Mactaggart                   9
Mr Duncan Greenland                  8
Lord Charles Falconer of Thoroton    6
Mr Malcolm Bluemel                   5
Mr Mark  Petterson                   4
                                    ..
Mr Simon D Hume-Kendall              1
Hon George T Farmer                  1
Mr Iain Aitken                       1
Lord Nigel D Jones of Cheltenham     1
Mr Peter Wilson                      1
Name: DonorName, Length: 247, dtype: int64

this command show how many times the information in the Donor Name column is repetitive, in other words, how many times a  person donate

In [25]:
df.groupby('DonorName')['Value'].sum()

DonorName
Baroness Barbara Janke         1600.00
Baroness Emma Nicholson        2499.99
Baroness Kathryn Parminter     2400.00
Baroness Shirley Williams      1700.00
Christopher Williams           1506.37
                                ...
Roger Michael Isherwood        2800.00
Scirard Lancelyn Green         2400.00
Sir Michael Hintze             2500.00
Stella Creasy                  1947.05
William  Goodhart             20000.00
Name: Value, Length: 247, dtype: float64

this command group the Donor Name by the column value and sum all what the person donated